@import url("animation.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@300;400&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.container {
	max-width: 1080px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.header__main {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	align-items: center;
}

.header__main-elements-images {
	margin-left: 58px;
	cursor: pointer;
}

.main {
	position: relative;
}

.main__content-elements {
	display: flex;
	justify-content: space-between;
}

.main__content-element-mainpage-title>h1 {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-size: 55px;
	line-height: 100%;
	color: #000;
}

.ocean {
	height: 5%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

/* MAIN */

.main__content-element-mainpage-links {
	margin-top: 150px;

}

.main__content-element-mainpage-links-icons {
	display: flex;
	margin-bottom: 30px;
	align-items: center;
	cursor: pointer;
}

.main__content-element-mainpage-links-text {
	margin-left: 30px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-decoration-line: underline;
	color: #590D56;
}

.main__content-element-slider {
	text-align: center;
}

.slider-Prew,
.slider-Next {
	position: relative;
	z-index: 1000;
	margin-top: 400px;
	text-align: center;
	cursor: pointer;
	font-size: 24px;
	font-weight: 100;
	height: 58px;
	width: 58px;
	border-radius: 50%;
	color: #fff;
	border: 1px solid #FFFFFF;
	background-color: #590D56;
	transition: ease-in-out 0.3s;
}


.slider-Next:hover {
	color: #590D56;
	background-color: #fff;
}

.slider-Prew:hover {
	color: #590D56;
	background-color: #fff;
}

.slider-Next {
	margin-left: 30px;
}


.main__content-element-btn-button {
	margin-top: 30px;
	font-family: 'Roboto';
	max-width: 263px;
	width: 100%;
	height: 68px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 33.5px;
	background-color: #590D56;
	border: 1px solid #fff;
	cursor: pointer;
	transition: ease-in-out 0.3s;
}

.main__content-element-btn-button:hover {
	color: #590D56;
	background-color: #fff;
}

.slider {
	width: 1000px;

}

.slider-line {
	display: flex;
	margin-top: 60px;
	justify-content: center;
}

.slider-images {

	position: absolute;
}

.image-first {
	margin-top: 50px;
	z-index: 3;
}

.image-second {
	left: 650px;
	z-index: 1;
}

.image-threes {
	z-index: 1;
	right: -100px;
}


.front-position-slider {
	margin-top: 50px;
	z-index: 3;
}

/* 
2section */
.action__text {
	margin-top: 300px;
	border: #590D56 2px solid;
}

.action__text-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	color: #590D56;
	width: 100%;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
	animation: marquee 3.5s infinite linear;
}

.action__text {
	text-align: left;
	width: 100%;
	overflow: hidden;

}





/* 
futures */

.futures {
	margin-top: 130px;

}

.futures__elements-icons {
	display: flex;
	justify-content: space-between;
}

.futures__elements-icons-blocks {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.futures__elements-icons-blocks>p {
	margin-left: 30px;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 154.8%;

	color: #242424;
}

.futures__elements-icons-blocks-img {
	cursor: pointer;
	margin-top: 30px;
	margin-left: 30px;
}

.futures__elements-icons-blocks-tooltip {
	margin-top: 50px;
	cursor: pointer;
	position: relative;
}

.pop-up {
	position: absolute;
	left: -150px;
	top: 80px;
	z-index: 100;
	display: flex;
	background-color: #fff;
	width: 200px;
	height: 200px;
	margin-left: 30px;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	align-items: center;
	transition: 1s;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.disp {
	display: none;
}

.futures__elements-icons-blocks-tooltip>.pop-up>p {
	font-family: 'Roboto';
	text-align: center;
	font-size: 16px;
	line-height: 154.8%;
	color: #590D56;
}


.futures__advices {
	display: flex;
	justify-content: space-between;
	margin-top: 130px;
}

.futures__advices-title {
	width: 265px;
}

.futures__advices-title>h3 {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	color: #000000;
}

.futures__advices-title>p {
	margin-top: 38px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 154.8%;
	color: #777777
}

.futures__advices-content {
	width: 100%;
	margin-left: 60px;
}



.futures__advices-blocks-blocks:last-child {
	border-bottom: 2px solid #590D56;
}

.futures__advices-blocks-blocks {
	display: flex;
	border-top: 2px solid #590D56;
	height: 200px;
}

.futures__advices-blocks-blocks>a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-decoration-line: underline;
	color: #590D56;
	margin-top: 170px;
	white-space: nowrap;
}


.futures__advices-blocks-blocks-text {
	display: flex;
	align-items: center;
	margin-left: 160px;
}

.futures__advices-blocks-blocks-text>p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 100%;
	color: #000000;
}

.decorate-icons {
	margin-top: 35px;
	margin-left: 20px;
}

.circle-decorate {
	position: relative;
}

.lines {
	position: absolute;
}

.ellipse-one {
	left: -15px;
}

.ellipse-two {
	right: -15px;
}

.arrows {}

.arrow-one {
	left: 0;
}

.arrow-two {
	right: 0;
	bottom: 27px;
}



/* !!!!!section about production~!!!!! */

.about-production {
	position: relative;
	top: -50px;
	background-image: url(img/volna2.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 130vh;
	width: 100%;
	background-position: center;

}

.about-production__content {
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.about-production__content>h2 {
	margin-top: 150px;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	color: #000000;
}

.about-production__content-sliderVideo {
	display: flex;
	align-items: center;
	margin-top: 300px;
}

.about-production__content-sliderVideo-slider {
	width: 458px;
	height: 270px;
	background-color: #fff;

}

.production__button-slider {}

.button-sliderVideo {
	margin-top: 130px;
	margin-left: 300px;
	font-family: 'Roboto';
	max-width: 263px;
	width: 100%;
	height: 68px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 33.5px;
	background-color: #590D56;
	border: 1px solid #fff;
	cursor: pointer;
	transition: ease-in-out 0.3s;
}

.button-sliderVideo:hover {
	color: #590D56;
	background-color: #fff;

}

.btn-production {
	margin-left: 30px;
	position: relative;
	z-index: 1000;
	display: block;
	margin-bottom: 30px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: 100;
	height: 58px;
	width: 58px;
	border-radius: 50%;
	color: #fff;
	border: 1px solid #FFFFFF;
	background-color: #590D56;
	transition: ease-in-out 0.3s;
}

.btn-production:hover {
	color: #590D56;
	background-color: #fff;

}

.btn-play {
	margin-top: 100px;
	margin-left: 196px;
	cursor: pointer;
}


/* !!!!section opinion!!!! */
.opinion {
	margin-top: 100px;
	margin-bottom: 100px;
}

.opinion__content {
	display: flex;
	justify-content: space-between;
}

.opinion__content-title>h2 {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	color: #000000;
}

.opinion__content-title>p {
	margin-top: 26px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 154.8%;
	color: #777777;
	white-space: nowrap;
}

.opinion__content-slider {
	position: relative;
	margin-left: 50px;
}

.opinion__content-slider-btn-play {
	position: absolute;
	z-index: 333;
	left: 25%;
	top: 25%;
}

.dots {
	display: flex;
	margin-top: 30px;
}

.dot {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: #590D56 1px solid;
	margin-left: 16px;
	cursor: pointer;
}

.change-color {
	background-color: #590D56;
}


/* !!!!!!!!SECTION INFORMATION !!!!!! */
.usefell-information {
	position: relative;
	top: -50px;
	background-image: url(img/volna3.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 130vh;
	width: 100%;
	background-position: center;
	margin-top: 100px;
}

.usefell-information__content {
	display: flex;
	justify-content: space-between;
	padding-top: 300px;
}

.usefell-information__content-title {}

.usefell-information__content-title>h2 {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	color: #000000;
}

.usefell-information__content-title>p {
	margin-top: 26px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 154.8%;
	color: #fff;
	white-space: nowrap;
}


.usefell-information__content-gallerey {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-gap: 30px;
	grid-auto-rows: minmax(300px, auto);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 100%;
	color: #FFFFFF;
	margin-left: 30px;
}

.galerey-element-one {
	background-image: url(img/info1.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 28px;
	display: inline-block;
	height: 457px;
}



.galerey-element-two {
	background-image: url(img/info2.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 28px;
	display: inline-block;
	height: 263px;
	width: 263px;

}

.galerey-element-three {
	background-image: url(img/info3.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 28px;
	display: inline-block;
	height: 263px;
	width: 263px;


}

.galerey-element-four {
	width: 556px;
	height: 165px;
	background: #47093E;
	padding: 28px;
	grid-column-start: 2;
	grid-row-start: 2;
}

.button-gal {
	margin-top: 130px;
	margin-left: 300px;
	font-family: 'Roboto';
	max-width: 263px;
	width: 100%;
	height: 68px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #590D56;
	border-radius: 33.5px;
	background-color: #fff;
	border: 1px solid #590D56;
	cursor: pointer;
	transition: ease-in-out 0.4s;
}

.button-gal:hover {
	color: #fff;
	background-color: #590D56;

}


/* !!!!!!!!section where buy!!!!!!! */

.buy {
	margin-top: 300px;
}

.buy__content {
	display: flex;
	justify-content: start;
	align-items: center;
}

.buy__content-title {}

.buy__content-title-text>h2 {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	color: #000000;
}

.buy__content-title-text>p {
	margin-top: 26px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 154.8%;
	color: #777777;
	white-space: nowrap;
}

.buy__content-images {

	margin-left: 100px;

}

.buy__content-images-img {
	display: flex;
	position: relative;
}

.img {
	position: absolute;
	left: 0px;
	top: 0px;
}

.img-first {
	left: 300px;
}

.img-two {
	top: 100px;
}