/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

html,
body {
	overflow-x: hidden
}


.container {
	margin: 0 250px;

}

.navigation {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #828282;
	padding-top: 30px;
	padding-bottom: 30px;
}

.navigation>li>a {
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 22px;
	color: #828282;
	transition: color 0.2s linear;
}

.navigation>li>a:hover {
	transition: color 0.2s linear;
	color: #070707;
	font-weight: bold;
}

.title {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;


}

h2 {

	font-family: 'Open Sans';
	font-size: 47.3392px;
	line-height: 59px;
	color: #070707;

}

h3 {
	margin-top: 65px;
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 22px;
	color: #070707;
}

h4 {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 20px;
	color: #828282;
	transform: rotate(-90deg);

}

h4>span {
	color: #070707;
	font-weight: bold;

}

.photo {
	margin-top: 30px;
	background-image: url(img/photo.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 45vh;
}

.photo-img-adapt {
	display: none;
}

.info {

	background-color: #F6F6F6;
	margin-top: 70px;
	padding-top: 120px;
	padding-bottom: 107px;

}

.info>h2 {
	font-family: 'Open Sans';
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: #070707;
	font-weight: bold;
}

.info>p {
	margin-top: 20px;
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
	font-weight: 500;
}

.skills {
	margin-top: 90px;
}

.skills>h2 {
	font-family: 'Open Sans';
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: #070707;
	font-weight: bold;
}

.skills>h3 {
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;

}

.soft {
	margin-top: 83px;
	display: flex;

	padding-bottom: 110px;
}

.img_ada {
	margin-left: 100px;
}

.portfolio {
	background-color: #F6F6F6;
}

.portfolio_title {
	padding: 100px 0;
}

.portfolio_title>h2 {
	font-family: 'Open Sans';
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: #070707;
	font-weight: bold;
}

.portfolio-images>p {
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-decoration-line: underline;
	color: #070707;
	margin-top: 44px;
	padding-bottom: 100px;
}

.img_ad {
	margin-left: 100px;
}

.contacts {
	margin-top: 113px;
}

.contacts_items {
	display: block;
	align-items: center;
	text-align: center;
}

.contacts_items>h2 {
	font-family: 'Open Sans';
	font-size: 34px;
	font-weight: bold;
	line-height: 42px;
	text-align: center;
	color: #070707;
}

.contacts_items>p {
	margin-top: 20px;
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;


}

.btn {

	margin-top: 30px;
	padding: 8px 13px;
	background-color: #000;
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	border-radius: 100px;
	outline: none;
}

.social {
	display: flex;
	justify-content: center;
	margin-right: 50px;
	margin-top: 90px;

}

.soc-img {
	margin-left: 50px;
}

.contacts_items>p {
	margin-top: 45px;
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
}

.footer {
	margin-top: 50px;
}

.footer>p {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #000;
}

.burger-menu {
	display: none;
	margin-top: 50px;

}

.burger-slide {

	display: block;

}

.burger-slide {

	width: 30%;
	margin-top: 15px;
}

.disp {
	display: none;
}

.nav-item {
	font-family: 'Open Sans';
	text-decoration: none;
	color: #828282;
	font-size: 34px;
	line-height: 42px;
	transition: color 0.2s linear;

}

.nav-item :hover {
	color: #090909;
	font-weight: bold;
}


.pop-up {

	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: transparent;
	z-index: 2;
	transform: translateY(-44.5%) scale(0);
	transition: .4s ease-in-out;
}

.pop-up.active {
	transform: translateY(0%) scale(100%);
	background-color: rgba(0, 0, 0, .8);
}

.pop-up-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.pop-up-body {
	margin: auto;
	width: 500px;
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
	padding: 100px 15px 110px 15px;
	position: relative;
}


.pop-up-body p {
	font-size: 28px;
	font-family: Montserrat;
	font-weight: 600;
	color: #22262D;
	margin-bottom: 40px;

}

.pop-up-body input {
	display: block;
	margin: 25px auto 0px auto;
	width: 330px;
	padding: 17px 20px;
	background-color: #e5e5e5;
	border-radius: 10px;
	border: none;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 18px;
	color: #89909F;

}

.pop-up-body input:focus {
	outline: none;

}

.pop-up-body button {
	cursor: pointer;
	display: block;
	width: 330px;
	margin: 60px auto 0px auto;
	padding: 20px 0px;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 16px;
	border: none;
	color: #fff;
	border-radius: 10px;
	background-color: orange;


}

.pop-up-close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 21px;
	cursor: pointer;
}